# Ignore VS Code workspace file
My_Portfolio_Website.code-workspace

# Ignore VS Code settings and history
.vscode/
.history/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build and cache directories
node_modules/
dist/
build/
.cache/

# Ignore logs
*.log
logs/
